@model Forum.MessageViewModel

<h2>Voeg een reactie toe</h2>

@using (Html.BeginForm())
{
    <form class="form-horizontal" role="form">
        <div class="form-group">
            @Html.LabelFor(m => m.Text, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Text)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Toevoegen!</button>
        </div>
    </form>
}