@model Forum.Category

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>@Html.ActionLink("Klik hier om een nieuw topic toe te voegen.", "Add", new { id=ViewData["CategoryId"] })</p>

@if (Model.Topics.Count == 0)
{
    <p>Er zijn geen topics gevonden.</p>
}
else
{
    var grid = new WebGrid(Model.Topics);
    @grid.GetHtml(tableStyle: "table", columns: grid.Columns(
    grid.Column("Topic", format: @<text>@Html.ActionLink("Index", "Topic", new { id = item.Id }) </text>),
            grid.Column("Auteur", format: (item) => item.Author.Username),
            grid.Column("MessageCount", "Reacties"),
            grid.Column("Laatste post", format: (item) => item.LastMessage.Date)
        ))
}